# STAT 201 
## Group 46
### Tsun Li Nicholas Tam, Camila Dall Bello, Leon Zhang

In [12]:
# Imports

# library(cowplot)
library(dplyr)
library(gridExtra)
library(tidyverse)
library(repr)
# library(infer)
library(repr)
# library(datateachr)
library(digest)
library(lubridate)
# library(taxyvr)

## Introduction
### Background Information


### Dataset and Project Question
For our research project, we have selected datasets of hourly observations of PM2.5 concentration from 1-1-2010 to 12-31-2015. These datasets were retrieved from https://archive.ics.uci.edu/ml/datasets/PM2.5+Data+of+Five+Chinese+Cities and converted to CSV files online, containing the PM2.5 data in Beijing, Shanghai, Guangzhou, Chengdu and Shenyang, along with other meteorological data for each city.

## Preliminary Results

In [5]:
# Need to merge tables 

beijing_PM2.5 <- read.csv("https://raw.githubusercontent.com/Nick-2003/STAT-201-Group-46-Project/main/Data%20Sets/BeijingPM20100101_20151231.csv")
# beijing_PM2.5 <- read.csv("https://github.com/Nick-2003/STAT-201-Group-46-Project/raw/main/Data%20Sets/BeijingPM20100101_20151231.csv")
beijing_PM2.5 <- na.omit(beijing_PM2.5)
head(beijing_PM2.5)

shanghai_PM2.5 <- read.csv("https://raw.githubusercontent.com/Nick-2003/STAT-201-Group-46-Project/main/Data%20Sets/ShanghaiPM20100101_20151231.csv")
shanghai_PM2.5 <- na.omit(shanghai_PM2.5)
head(shanghai_PM2.5)

chengdu_PM2.5 <- read.csv("https://raw.githubusercontent.com/Nick-2003/STAT-201-Group-46-Project/main/Data%20Sets/ChengduPM20100101_20151231.csv")
chengdu_PM2.5 <- na.omit(chengdu_PM2.5)
head(chengdu_PM2.5)

guangzhou_PM2.5 <- read.csv("https://raw.githubusercontent.com/Nick-2003/STAT-201-Group-46-Project/main/Data%20Sets/GuangzhouPM20100101_20151231.csv")
guangzhou_PM2.5 <- na.omit(guangzhou_PM2.5)
head(guangzhou_PM2.5)

shenyang_PM2.5 <- read.csv("https://raw.githubusercontent.com/Nick-2003/STAT-201-Group-46-Project/main/Data%20Sets/ShenyangPM20100101_20151231.csv")
shenyang_PM2.5 <- na.omit(shenyang_PM2.5)
head(shenyang_PM2.5)

      No    year month day hour season PM_Dongsi PM_Dongsihuan PM_Nongzhanguan
27825 27825 2013 3     5    8   1      117       166           140
27826 27826 2013 3     5    9   1      131       165           152
27827 27827 2013 3     5   10   1      141       173           128
27829 27829 2013 3     5   12   1      169       182             3
27830 27830 2013 3     5   13   1      169       169             3
27831 27831 2013 3     5   14   1      174       183           163
      PM_US.Post DEWP HUMI PRES TEMP cbwd Iws  precipitation Iprec
27825 150         -6  59   1019  1   cv   0.89 0             0
27826 163         -8  38   1019  5   cv   1.78 0             0
27827 172         -8  31   1018  8   cv   2.67 0             0
27829 181         -9  23   1017 11   cv   4.45 0             0
27830 187         -9  22   1015 12   cv   5.34 0             0
27831 204        -10  19   1014 13   cv   7.13 0             0

      No    year month day hour season PM_Jingan PM_US.Post PM_Xuhui DEWP HUMI
26305 26305 2013 1     1   0    4      66        70         71       -5   69.00
26306 26306 2013 1     1   1    4      67        76         72       -5   69.00
26308 26308 2013 1     1   3    4      73        78         74       -4   74.41
26309 26309 2013 1     1   4    4      75        77         77       -4   80.04
26310 26310 2013 1     1   5    4      73        78         80       -4   80.04
26311 26311 2013 1     1   6    4      74        77         77       -4   80.04
      PRES TEMP cbwd Iws precipitation Iprec
26305 1023  0   SW   60  0             0
26306 1023  0   SW   62  0             0
26308 1023  0   SW   65  0             0
26309 1023 -1   SW   68  0             0
26310 1023 -1   SW   70  0             0
26311 1023 -1   SW   71  0             0

      No    year month day hour season PM_Caotangsi PM_Shahepu PM_US.Post DEWP
26305 26305 2013 1     1    0   4      121          138        129        -4
26306 26306 2013 1     1    1   4      134          159        135        -3
26318 26318 2013 1     1   13   4      159          181        132        -9
26319 26319 2013 1     1   14   4      168          184        100        -8
26320 26320 2013 1     1   15   4      143          162        101        -7
26321 26321 2013 1     1   16   4      113          151         91        -7
      HUMI  PRES TEMP cbwd Iws precipitation Iprec
26305 64.42 1022  2   cv   1   0             0
26306 80.19 1022  0   cv   1   0             0
26318 26.99 1018  9   SW   1   0             0
26319 27.29 1017 10   SW   2   0             0
26320 29.48 1015 10   NE   2   0             0
26321 29.48 1015 10   NE   4   0             0

      No    year month day hour season PM_City.Station PM_5th.Middle.School
26305 26305 2013 1     1   0    4      83              78
26306 26306 2013 1     1   1    4      95              70
26308 26308 2013 1     1   3    4      55              66
26309 26309 2013 1     1   4    4      60              69
26310 26310 2013 1     1   5    4      41              51
26311 26311 2013 1     1   6    4      42              39
      PM_US.Post DEWP HUMI PRES   TEMP cbwd Iws  precipitation Iprec
26305 83         3.7  91   1014.2 5.0  NW    1.9 0             0
26306 95         4.2  88   1014.2 6.0  NW    3.4 0             0
26308 55         3.5  76   1013.9 7.5  NW    5.8 0             0
26309 60         2.7  69   1013.9 8.0  NW    8.2 0             0
26310 41         1.5  62   1014.2 8.4  NW    9.0 0             0
26311 42         2.3  66   1014.3 8.3  NW   11.4 0             0

      No    year month day hour season PM_Taiyuanjie PM_US.Post PM_Xiaoheyan
28982 28982 2013 4     22  13   1      141           113        140
29003 29003 2013 4     23  10   1       59            59         49
29009 29009 2013 4     23  16   1      200           106        152
29025 29025 2013 4     24   8   1      120           136        137
29033 29033 2013 4     24  16   1       11            23         10
29038 29038 2013 4     24  21   1       17            18         13
      DEWP HUMI  PRES TEMP cbwd Iws precipitation Iprec
28982 -1   25.89 1013 19   SW    55 0             0
29003 -5   26.40 1012 14   SW    17 0             0
29009  2   50.36 1010 12   SW    56 0             0
29025  6   87.19 1010  8   SW    33 0             0
29033 -4   23.50 1006 17   SW    69 0             0
29038  4   66.27 1008 10   SW   100 0             0

## Methods: Plan

## References

<!-- - Liang, X., S. Li, S. Zhang, H. Huang, and S. X. Chen (2016), PM2.5 data reliability, consistency, and air quality assessment in five Chinese cities, J. Geophys. Res. Atmos., 121, 10220â€“10236 doi:10.1002/2016JD024877 -->
- Liang, X. (2016). PM 2.5 data reliability, consistency, and air quality assessment in five chinese cities CONSISTENCY IN CHINA'S PM 2.5 DATA doi:10.1002/2016JD024877
-